<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  border-radius: 50%;
}
div.marg1 {
  margin-left:350px;
}
div.space {
  padding-left: 80px;
}
#l2
{
height:1000px;
left:300px;
width:800px;
display:inline-block;
background-color:powderblue;
}
</style>
</head>
<body>
<center><h1>Primary Impacts</h1></center>

<div class="marg1">
<div id="l2">
 <div>
<div class=space><img src="co2.jpg" alt="Avatar" style="width:100px"></div>

</div>
<hr>
 <div>
<div class=space><img src="methane.jpg" alt="Avatar" style="width:100px"></div>
</div>
<hr>
 <div>
<div class=space><img src="no2.jpg" alt="Avatar" style="width:100px"></div>
</div>
<hr>
 <div>
<div class=space><img src="recycle.jpg" alt="Avatar" style="width:100px"></div>
</div>
<hr>
 <div>
<div class=space><img src="discard.jpg" alt="Avatar" style="width:100px"></div>
</div>
<hr>
 <div>
<div class=space><img src="incinerate.jpg" alt="Avatar" style="width:100px"></div>
</div>
<hr>
 <div>
<div class=space><img src="waste.jpg" alt="Avatar" style="width:100px"></div>
</div>
<hr>
 <div>
<div class=space><img src="temperature.jpg" alt="Avatar" style="width:100px"></div>
</div>
</div>
</div>
</body>
</html>